!!! 5
%html
  %head
    %title {{=current.response.meta.title or ''}}
    %meta{name: "viewport", content:"width=device-width, initial-scale=1"}
    %link{href: "../static/images/favicon.ico", rel: "shortcut icon"}

    - include_helpers
    - include_static 'bs3/bootstrap.min.css'
    - include_static 'bs3/bootstrap-theme.css'

  %body
    - T = current.T
    %nav.navbar.navbar-inverse.navbar-static-top{role: "navigation", style: "color:white;"}
      .container-fluid
        .navbar-header
          %button.navbar-toggle{type: "button", data-toggle: "collapse", data-target: ".navbar-collapse"}
            %span.sr-only Toggle Navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{href: "#"} Heliosphere
        .collapse.navbar-collapse
          %ul.nav.navbar-nav
            %li
              %a{href: "#"} Home
            %li
              %a{href: "#"} About
            %li
              %a{href: "#"} Contact
            %li
              %a{href: "{{=url('main.account', 'login')}}"} Login
  .container-fluid
    %h1 404 KABOOM!
    %p Sorry... the page you are looking for doesn't exist.

  - include_static 'bs3/bootstrap.min.js'
