- extend 'layout.haml'

.container
  .row
    .col-lg-12
  .row.card
    .col-md-2.col-xs-12{align: "center"}
      %img.img-circle.img-responsive{src: "{{=url('static', 'images/default-profile.png')}}"}
    .col-md-4.col-xs-12{align: "center"}
      %h2
        =user.first_name + " " + user.last_name
      %h4.color-light-grey
        =user.email
