- extend "layout.haml"

.container
  .row
    .col-lg-6.col-lg-offset-3
      - if not current_user and req != 'register'
        %h1 Signin
        = form
        %br
          %p
            New User?
            %a{href: "{{=url('main.account', 'register')}}"}
              Register Here
      - else
        %h1 Profile
        = form
        %br
