!!! 5
%html
  %head
    %title {{=current.response.meta.title or ''}}
    %meta{name: "viewport", content:"width=device-width, initial-scale=1"}
    %link{href: "../static/images/favicon.ico", rel: "shortcut icon"}

    - include_helpers
    - include_static 'bs3/bootstrap.min.css'
    - include_static 'bs3/bootstrap-theme.css'

  %body
    - current_user = current.session.auth.user if current.session.auth else None
    - T = current.T

    %nav.navbar.navbar-inverse.navbar-static-top
      .container
        .navbar-header
          %button.navbar-toggle{type: "button", data-toggle: "collapse", data-target: ".navbar-collapse"}
            %span.sr-only Toggle Navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{href: "{{=url('main.welcome')}}"} MyWeppyApp
        .collapse.navbar-collapse
          %ul.nav.navbar-nav
            %li
              %a{href: "{{=url('main.welcome')}}"} Home
            %li
              %a{href: "{{=url('main.users')}}"} Users
            - if not current_user
              %li
                %a{href: "{{=url('main.account', 'login')}}"} Login
            - else
              %li
                %a{href: "{{=url('main.profile', current_user.id)}}"} Profile
              %li
                %a{href: "{{=url('main.account', 'logout')}}"} Logout

    - include

    %footer.footer.navbar.navbar-inverse.navbar-fixed-bottom
      .container{style: "padding-top:10px"}
        %p.text-muted copyright MyWeppyApp 2016

    - include_static 'bs3/bootstrap.min.js'
